@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* .slick-slide {
  max-width: 520px !important;
} */

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

@layer base {
  body {
    font-family: 'Outfit', sans-serif;
    color: #13274f;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-[22px] leading-7 font-semibold;
  }

  h3 {
    @apply text-xl font-medium;
  }

  h4 {
    @apply text-lg font-medium;
  }

  h5 {
    @apply text-[16px] leading-5 font-normal;
  }

  h6 {
    @apply text-sm font-normal;
  }

  p {
    @apply text-xs font-light;
  }

  h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
  }

  input, textarea, select {
    @apply w-full bg-inherit border-b border-slate-500 outline-none px-2 pb-1;
  }
}

@layer components {
  #root {
    @apply md:relative;
  }

  .loader-container {
    @apply w-screen h-screen flex justify-center items-center bg-white;
  }

  .form-control {
    @apply flex flex-col my-5 w-full;
  }

  .btn {
    @apply text-lg text-center bg-[#C31192] text-slate-200 hover:bg-slate-200 hover:text-[#C31192] rounded-md px-5 py-2 ease-linear duration-300;
  }
}