@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.5;
}

@layer base {
  body {
    font-family: 'Outfit', sans-serif;
    color: #13274f;
  }

  h1 {
    @apply text-[38px] leading-10 font-bold;
  }

  h2 {
    @apply text-[34px] leading-9 font-semibold;
  }

  h3 {
    @apply text-3xl font-medium;
  }

  h4 {
    @apply text-[26px] leading-8 font-medium;
  }

  h5 {
    @apply text-[22px] leading-7 font-normal;
  }

  h6 {
    @apply text-lg font-normal;
  }

  p {
    @apply text-sm font-light;
  }

  h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
  }

  input, textarea, select {
    @apply w-full bg-inherit border-b border-slate-500 outline-none px-2;
  }
}

@layer components {
  #root {
    @apply md:relative;
  }

  .loader-container {
    @apply w-screen h-screen flex justify-center items-center bg-white;
  }

  .home-hero {
    @apply lg:h-screen flex flex-col-reverse lg:flex-row justify-center items-center text-slate-300 bg-[#13274f] bg-fixed bg-cover;
    background: radial-gradient(circle, rgba(19,39,79,1) 20%, rgb(105, 9, 78) 40%, rgba(19,39,79,1) 80%);
  }

  .form-control {
    @apply flex flex-col my-5 w-full;
  }

  .btn {
    @apply text-xl text-center bg-[#C31192] text-slate-200 hover:bg-slate-200 hover:text-[#C31192] rounded-md px-5 py-2 ease-linear duration-300;
  }
}